[Unit]
Description=UPnP device server.
Documentation=man:miniupnpd(8)
After=network.target

[Service]
Type=forking
ExecStartPre=-/etc/miniupnpd/iptables_removeall_clearos.sh
ExecStartPre=-/etc/miniupnpd/iptables_init.sh
ExecStartPre=-/etc/miniupnpd/init_clearos.sh
ExecStart=/usr/sbin/miniupnpd -f /etc/miniupnpd/miniupnpd.conf $MINIUPNPD_START_OPTIONS
ExecStartPost=-/usr/bin/systemctl unset-environment MINIUPNPD_START_OPTIONS
ExecStopPost=-/etc/miniupnpd/iptables_removeall_clearos.sh

Restart=always
RestartSec=1
TimeoutSec=5

[Install]
WantedBy=multi-user.target
